<div class="container section-header">
	<h1>Get in touch</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm">
			{{#if enquirySubmitted}}
			<h3>Thanks for getting in touch.</h3>
			{{else}}
				{{> contact-form validationErrors=validationErrors}}
			{{/if}}
		</div>
	</div>
</div>
